<!-- This is the homepage -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1 class="mb-4">Blob Article</h1>
        <a href="/articles/new" class="btn btn-success">New Articles</a>
        <% articles.forEach(article => { %>
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title">
                    <%= article.title %>
                </h4>
                <div class="card-subtitle text-muted mb-2">
                    <%=article.date.toLocaleDateString()%>
                </div>
                <div class="card-text mb-2">
                    <%=article.description%>
                </div>
                <a href="articles/<%= article.slug %>" class="btn btn-primary"> Read More </a>
                <a href="articles/edit/<%= article.id %>" class="btn btn-info"> Edit </a>
                <button type="submit" id="delete" class="btn btn-danger" onclick="deletePost('<%= article.id %>'); deleteCard(this)">Delete</button>
            </div>
        </div>
        <% }) %>
    </div>
    <script>
    function deletePost(id) {

        fetch(`/articles/${id}`, {
                method: "DELETE"
            })
            .then(res => res.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error))
    }

    function deleteCard(button) {
        // Get the card element (parent of the delete button)
        const card = button.parentElement;
        const fullCard = card.parentElement;
        // Remove the card element from the DOM
        fullCard.remove();
    }
    </script>
</body>

</html>